// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'boostrap-icons/fonts/boostrap-icons.scss';

@import '~@fortawesome/fontawesome-free/css/all.min.css';
